@import "./base";
@import "./component";
@import "./mixns";


.content-post {
    display: none;
    &.active{
        display: flex;
    }
    .title-podcast{
      color: #fff;
      font-size:20px;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
     
    }
    .podcast{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    position: fixed;
    width: 48%;
    height:100%;
    bottom:0;
    right:10%;
    z-index: 100;
    justify-content: end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .imge-post{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
    }
    
    .inner-content-post-two {
        
            position: fixed;
            width: 48%;
            height:300px;
            bottom:-200px;
            right:10%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color:rgb(151 151 151 / 63%);
            padding: 10px;
            -webkit-transition: all 500ms;
            .line{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-top:2px solid rgb(255, 255, 255);
                height: 100%;
                padding: 5px;
                position: relative;
                .icon{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
                .up-content-post{
                    padding-left: 10px;
                    .title-post{
                      color: #fff;
                      font-size: 1.5em;
                    }
                    .description{
                        color: #fff;
                        font-size: 1em;
                        text-align: justify;
                    }
                    display: flex;
                    justify-content:start;
                    flex-direction: column;
                    align-items: flex-start;
                    height:80px;
                    overflow-y: scroll;
                    overflow-y: scroll;
                  &::-webkit-scrollbar {
                  height: 50px;
                  width:5px;
                  background-color:rgba(177, 172, 177, 0.648);
                  border-radius: 50px;
                  }

                 /* Track */
                 &::-webkit-scrollbar-track {
                 background-color: transparent;
                  }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                border-radius: 50px;
                background:#ffffffb7;
                width:8px;
                height: 10px;
                }

                 /* Handle on hover */
                 &::-webkit-scrollbar-thumb:hover {
                 background: $color-primary;
                 }
                }
              .commentt{
                  margin-top: 30px;
                  height:130px;
                  overflow-y: scroll;
                  &::-webkit-scrollbar {
                  height: 50px;
                  width:5px;
                  background-color:rgba(177, 172, 177, 0.423);
                  border-radius: 50px;
                  }

                 /* Track */
                 &::-webkit-scrollbar-track {
                 background-color: transparent;
                  }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                border-radius: 50px;
                background:#ffffffb7;
                width:8px;
                height: 10px;
                }

                 /* Handle on hover */
                 &::-webkit-scrollbar-thumb:hover {
                 background: $color-primary;
                 }

                  .comment-item{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: relative;
                      &::after{
                        content: "";
                        content: "";
                        display: block;
                        width: 70%;
                        height: 1px; 
                        background-color: #ffffff;
                        position: absolute;
                        top: 100%;
                        left: 10%
                         

                      }
                      .imge-comment{
                          border-radius: 100px;
                          border:1px solid #fff;
                          img{
                              border-radius: 100px;
                          }
                      }
                     .test-comment{
                         display: flex;
                         flex-direction: column;
                         align-items:center;
                         justify-content: center;
                         text-align: justify;
                         font-size: 1em;
                         font-weight: 600;
                         color: rgb(255, 255, 255);
                         

                     }
                  }
              }
            }

            &.active{
                bottom:0px;
                
        }
       
        
        }
    
 }
   


 .content-modal{
    z-index: 1500;
    .inner-modal{
        z-index: 1500;
        .px-4{
            padding-bottom: 10px;
            .uploade-imge{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                
                .item-upload{
                    background-color: #fff;
                    border-radius: 10px;
                    padding: 10px;
                    color: black;
                    width: 100px;
                    text-align: center;
                }
            }
            .uploade-podcast{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                
                .item-upload{
                    background-color: #fff;
                    border-radius: 10px;
                    padding: 10px;
                    color: black;
                    width: 100px;
                    text-align: center;
                }
            }
            .btn-modal{
                padding: 10px;
                display: flex;
                justify-content: center;
   
                .btn-sabt-post{
                    background-color: #fff;
                    border-radius: 10px;
                    width: 80px;
                    padding: 2px;
                    text-align: center;
                    
                }
            }
            .title{
               display: flex;
               justify-content: space-between;
            }
            
        }
    }
}

.add-post{
    padding: 5px;
    .icon-add{
        background-color: #b8b8b8;
        border: 2px solid #fff;
        border-radius: 10px;
        width: 80px;
        display: inline-block;
        font-size: 20px;
        text-align: center;
        padding: 8px 2px;
        cursor: pointer;
    }
    .text-add{
        color: #fff;
        padding-right: 10px;
        font-size: 10px;
        text-align: center;
    }
}
.content-modal{
    z-index: 1500;
    .inner-modal{
        z-index: 1500;
        .px-4{
            padding-bottom: 10px;
            .imge{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 10px;
                .title{
                  color: #fff;
                  font-size: 1.3em;
                }
                
                
            }
            .date-rotin-list{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              .rotin-item{
                color: #fff;
                font-size: 1.2em;
  
              }
            }
            
            .title{
               display: flex;
               justify-content: space-between;
            }
            
        }
    }
  }
  

  .text-add-post {
    border: 1px solid white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: white;
}


  
  .height-full-viewport{
    #close-menu-1{
      display: flex;
      justify-content: end;
      width: 100%;
      padding: 10px 40px;
    }
    position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-y: auto;
      left: 0;
      top: 0;
      width: 100%;
      height: 0vh;
      background: rgb(9,103,164);
     background: linear-gradient(90deg, rgba(9,103,164,0.9082983535210959) 1%, rgba(86,8,98,0.8998949921765581) 99%);
      z-index:5000;
      overflow: hidden;
      transition: height 1s ease;
      &.viewport {
        height: 100vh;
        transition: height 1s ease;
    }
      .ms-navbar {
        position: relative;
        width: 100%;
        min-height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        .menu-item{
          display: inline-block;
         width: auto;
         margin-left: 0;
         color: #fff;
         font-size: 2em;
        a{
          color: #fff;
        }
        }
    }
  }
 @import "./medias";

 

 

