@import "./component";
.content-main{
    padding-bottom: 60px;
    .Appointment-reservation{
        position: fixed;
        bottom:0;
        right:8.33%;
        width: calc(100% - 8.333%);
        height: auto;
        padding: 10px 10px;
        z-index: 1000;
        background-color: rgb(48, 47, 47);
        display: flex;
        justify-content: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .inner-reservation{
            display: flex;
            justify-content: space-around;
            border: 1px solid #fff;
            border-radius: 10px;
            padding: 10px;
            color: #fff;
            width: 80%;
            position: relative;
            .btn-reserv{
                background-color: #fff;
                color: black;
                border-radius: 10px;
                padding:5px 20px;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center;
                position: absolute;
                top:20%;
                left: -30px;
            }
    
        }
    }
    .up-category-user{
        background-color: rgb(37, 37, 35);
        .category-user-inner{
            display: flex;
            .imge-user{
                img{
                    border-radius: 100px;
                    border: 1px solid #fff;
                }
            }
            .jj{
               
                display: flex;
                align-items: center;
                .name-user{
                    color: #fff;
                    font-size: 18px;
                }
               
            }
        }
    
    
      }
    .down-category-portfolio{
      
    background-color: rgb(72, 70, 70);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    .portfolio{
        display: flex;
        flex-wrap: wrap;
        .portfolio-item{
            img{
                border: 2px solid #fff;
                border-radius: 10px;
            }
           
        }
        .title-portfolio-item{
            color: #fff;
            padding-top: 10px;
        }
    }
     
    }
}
.content-modal{
    z-index: 1500;
    .inner-modal{
        z-index: 1500;
        .px-4{
            padding-bottom: 10px;
            .imge{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 10px;
                .title{
                  color: #fff;
                  font-size: 1.3em;
                }
                
                
            }
            .date-rotin-list{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              .rotin-item{
                color: #fff;
                font-size: 1.2em;
  
              }
            }
            
            .title{
               display: flex;
               justify-content: space-between;
            }
            
        }
    }
  }
  .content-modal{
    .inner-modal{
        padding: 20px;
        .portifilo{
            width: 350px;
            height: 350px;
       .image-portifilo{
           width: 100%;
           height: 100%;
        
    img{
        width: 100%;
        height: 100%;
        border-radius: 10px ;
        -webkit-border-radius: 10px ;
        -moz-border-radius: 10px ;
        -ms-border-radius: 10px ;
        -o-border-radius: 10px ;
}

        }
        }

 
          }
        }







@import "./medias";
